<% layout("/layouts/boilarplate") %>
<body>
   <style>
    #filters{
      display: flex;
      flex-wrap: wrap;
    }
    .filter{
      text-align: center;
      margin-left: 2rem;
      margin-top: 2rem;
      
    }
    .filter :hover{
      
      cursor: pointer;
    }
   </style>
    <div id="filters">
<div class="filter">
  <div><i class="fa-solid fa-fire"></i></div>
 <p>
  Trending
 </p>
</div>
<div class="filter">
  <div><i class="fa-solid fa-bed"></i></div>
 <p>
  Rooms
 </p>
</div>
<div class="filter">
  <div><i class="fa-solid fa-city"></i></div>
 <p>
  Iconic City
 </p>
</div>
<div class="filter">
  <div><i class="fa-solid fa-mountain-city"></i></div>
 <p>
  Mountain
 </p>
</div>
<div class="filter">
  <div><i class="fa-solid fa-tree"></i></div>
 <p>
  Forest
 </p>
</div>
<div class="filter">
  <div><i class="fa-solid fa-umbrella-beach"></i></div>
 <p>
  Beach
 </p>
</div>
<div class="filter">
  <div><i class="fa-solid fa-snowman"></i></div>
 <p>
  Arctic
 </p>
</div>
<div class="filter">
  <div><i class="fa-solid fa-fire"></i></div>
 <p>
  Camping
 </p>
</div>
<div class="filter">
  <div><i class="fa-solid fa-cow"></i></div>
 <p>
  Farm
 </p>
</div>
<div class="filter">
  <div><i class="fa-solid fa-city"></i></div>
 <p>
  Top City
 </p>
</div>
<div class="filter">
  <div><i class="fa-solid fa-water"></i></div>
 <p>
  Lake
 </p>
</div>
<div class="filter">
  <div><i class="fa-solid fa-golf-ball-tee"></i></div>
 <p>
  Golfing
 </p>
</div>
    </div>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
      <%  for(let listing of alllisting) { %>
        <a href="/listings/<%= listing._id %>" class="listing-link">
        <div class="card col listing-card" >
            <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image" style="height: 20rem;">
            <div class="card-img-overlay"></div>
            <div class="card-body">
              <p class="card-text">
               <b> <%= listing.title %> </b> <br>
               &#8377; <%= listing.price %>
              </p>
            </div>
          </div>
        </a>
          <% } %>
    </div>

</body>


