<% layout("/layouts/boilarplate") %>
<body>
    <div class="row mt-3">
        <div class="col-8 offset-1">
            <br>
    <h3>Create new listings</h3>
    <form action="/listings" method="post" >
        <div class="mb-3">
            <label for="title" class="from-label">Title</label>
        <input name="listing[title]" placeholder="Add a catchy title" type="text" class="form-control">
        </div>
        
        <div class="mb-3">
            <label for="description"  class="from-label">Description</label>
            <textarea name="listing[description]" class="form-control" ></textarea>
        </div>
        <div class="row">
         <div class="mb-3 col-md-4">
            <label for="country"  class="from-label">Country</label>
            <input name="listing[country]" placeholder="India" type="text" class="form-control">
         </div>
         <div class="mb-3 col-md-8">
            <label for="price"  class="from-label">Price</label>
            <input name="listing[price]" placeholder="1800" type="number"  class="form-control">
        </div>
    </div>
        <div class="mb-3">
            <label for="image"  class="from-label">Image-Url</label>
            <input name="listing[image]" placeholder="enter image url" type="url" class="form-control">
        </div>
        <div class="mb-3">
            <label for="location"  class="from-label">Location</label>
            <input name="listing[location]" placeholder="Kolkata" type="text" class="form-control">
        </div>
       
       
        <button class="btn btn-dark add-btn mt-3">Add</button>
        <br><br>
    </form>
</div>
</div>
</body>
